{% load thumbnail %}

<div class="col-sm-4">
	<div class="card">
		{% thumbnail character.photo_main "256x256" crop="center" as im %}
			<a href="{% url 'character' character.id %}">
				<img src="{{ im.url }}" class="card-img-top">
			</a>
		{% endthumbnail %}
		<div class="card-body">
			<p class="card-text">
				<a href="{% url 'character' character.id %}">
			<p>{{ character.name }}</p>
			</a>
			<p>{{ character.kind }}</p>
			</p>
		</div>
	</div>
</div>