{% load static %}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
	<div class="container">
		<a class="navbar-brand" href="{%  url 'characters' %}">
			<img src="#" class="logo" alt="">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<ul class="navbar-nav">


				<li class="nav-item mr-3
				{% if '/' == request.path or 'characters' in request.path %}
						 active
					{% endif %}
					">
					<a class="nav-link" href="{% url 'characters' %}">Home</a>
				</li>

			</ul>

			<ul class="navbar-nav ml-auto">
				{% if user.is_authenticated %}
					<li class="nav-item">
						<a class="nav-link" href="{% url 'dashboard' %}">Welcome, {{ user.username }}</a></li>
					<li>
					<li class="nav-item mr-3">
						<a href="javascript:{document.getElementById('logout').submit()}" class="nav-link"><i class="fas fa-sign-out-alt"></i> Logout</a>
						<form id='logout' action="{% url 'logout' %}" method="POST">
							{% csrf_token %}
							<input type="hidden"/>
						</form>
					</li>
				{% else %}
					<li class="nav-item
					{% if 'register' in request.path %}
						 active
					{% endif %}
					"><a class="nav-link" href="{% url 'register' %}">
						<i class="fas fa-user-plus"></i> Register</a>
					</li>

					<li class="nav-item
					{% if 'login' in request.path %}
						 active
					{% endif %}
					">
						<a class="nav-link" href="{% url 'login' %}">
							<i class="fas fa-sign-in-alt"></i>
							Login</a>
					</li>
				{% endif %}

			</ul>
		</div>
	</div>
</nav>