{% extends 'base.html' %}

{% block content %}
	<section id="characters">
		{% include 'partials/_alerts.html' %}

		<div class="container">
			<h1>Create a new Universe</h1>
			<p>Fill out some basic information about your universe.</p>
			<form action="{% url 'create-universe' %}" method="POST" enctype="multipart/form-data">

			{% csrf_token %}
			<div class="form-group">
				<label for="username">Name</label>
				<input type="text" name="name" class="form-control" required>
			</div>

			<div class="form-group">
				<label for="description">Description</label>
				<input type="text" name="description" class="form-control" required>
			</div>

			<div class="form-group">
				<label for="description">Private</label>
				<input type="checkbox" name="is_private" class="form-control">
			</div>

			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary">
			</div>

			</form>
		</div>
	</section>
{% endblock %}