{% extends 'base.html' %}

{% load thumbnail %}

{% block content %}
	<section id="characters">
		<div class="container">
			<h1>{{ page_title }}</h1>
			{% if user.is_authenticated %}

				<div class="btn-toolbar justify-content-between margin-after" role="toolbar" aria-label="Toolbar">
					<div class="btn-group" role="group" aria-label="First group">
						<a href="#" alt="Add" class="btn btn-primary fa-pull-right">Create</a>
					</div>

					<div class="input-group">
						<div class="input-group-prepend">
							<div class="input-group-text" id="btnGroupAddon2"><i class="fa fa-search"></i></div>
						</div>
						<input type="text" class="form-control" placeholder="Input group example" aria-label="Input group example" aria-describedby="btnGroupAddon2">
					</div>
				</div>


			{% endif %}

			{% include 'partials/_alerts.html' %}

			{# Multiverse	#}
			{% if Multiverse %}
				<div class="row">
					{% for universe in multiverse %}
						<div class="col-sm-12 margin-after">
							<div class="card">
								<div class="card-body">
									<p class="card-text">
										<a href="#">{{ universe.name }}</a>
										<span>{{ universe.description }}</span>
									</p>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			{% else %}
				<p>Hi {{ user.username }},<br />You don't seem to have any universes yet.</p>
				<p><a href="{% url 'create-universe' %}" class="btn btn-primary">Create</a> your first universe now!</p>
			{% endif %}

		</div>
	</section>

{% endblock %}