{% extends 'base.html' %}

{% load thumbnail %}

{% block content %}
	<section id="characters">
		<div class="container">
			<h1>{{ page_title }}</h1>
			{% if user.is_authenticated %}

				<div class="btn-toolbar justify-content-between margin-after" role="toolbar" aria-label="Toolbar">
					<div class="btn-group" role="group" aria-label="First group">
						<a href="#" alt="Add" class="btn btn-outline-primary fa-pull-right">Add more characters</a>
					</div>

					<div class="input-group">
						<div class="input-group-prepend">
							<form action="{% url 'add-character' universe.id %}" method="POST">
								{% csrf_token %}
								<div class="input-group">
									<select class="custom-select" name="list" id="list" aria-label="Lists allowed to add this character to.">
										<option value="" selected>Choose...</option>
										{% if allowed_characters %}
											{% for character in allowed_characters %}
												<option value={{ character.id }}>{{ character.name }}</option>
											{% endfor %}
											{% endif %}
									</select>
									<div class="input-group-append">
										<button class="btn btn-outline-secondary" type="submit">Add</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>


			{% endif %}

			{% include 'partials/_alerts.html' %}

			{% if characters %}
				<div class="row">
					{% for character in characters %}
						{% include 'partials/_character-card.html' %}
					{% endfor %}
				</div>
			{% else %}
				<p>Hi {{ user.username }},<br />You don't seem to have any characters in this list yet.</p>
				<p>
					Add characters from the list below or
					<a href="{% url 'create-character' %}" class="btn btn primary">create</a> a new character!</p>
			{% endif %}
		</div>
	</section>

{% endblock %}