
.btn-secondary {
	color: #fff !important;
}

.container {
	padding: 10px;
}

.margin-after {
	margin-bottom: 1.5rem;
}


h1 {
	margin-top: 2.5rem;
}

img {
	width: 100%;
}

.logo {
	width: 80px;
}

.navbar {
	opacity: 0.9;
	/*text-transform: uppercase;*/
}

.social a {
	margin-right: 0.4rem;
}

.listing-preview a {
	position: relative;
}

@media (max-width: 991px) {
	#showcase {
		padding-top: 4rem;
	}

	#showcase h1 {
		font-size: 40px;
	}

	.hide-md-down {
		display: none;
	}
}

@media (max-width: 768px) {
	#showcase {
		padding-top: 3rem;
	}

	#showcase h1 {
		font-size: 40px;
	}

	#showcase p {
		display: none;
	}

	#top-bar {
		text-align: center;
	}

	#top-bar .social {
		text-align: center !important;
	}
}

@media (max-width: 576px) {
	#showcase h1 {
		font-size: 30px;
	}

	#showcase-inner h1 {
		font-size: 40px;
	}
}
