{%  load static %}

<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie-edge">

{#	<link rel="stylesheet" href="{%  static 'css/all.css' %}">#}
{#	<link rel="stylesheet" href="{%  static 'css/bootstrap.css' %}">#}
	<link rel="stylesheet" href="{%  static 'css/style.css' %}">
	<link rel="stylesheet" href="{%  static 'css/lightbox.min.css' %}">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">


	<title>Universe {% block title %}{% endblock %}</title>

</head>

<body>

{% include 'partials/_navbar.html' %}

{% block content %} {% endblock %}

{% include 'partials/_footer.html' %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

{#<script src="{%  static 'js/jquery-3.3.1.min.js' %}"></script>#}
{#<script src="{%  static 'js/bootstrap.bundle.min.js' %}"></script>#}
<script src="{%  static 'js/main.js' %}"></script>
<script src="{%  static 'js/lightbox.min.js' %}"></script>
</body>

</html>