{% extends 'base.html' %}

{% load thumbnail %}

{% block content %}

	<section id="characters">
		<div class="container">
			{% include 'partials/_alerts.html' %}

			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="{% url 'characters' %}">Home</a></li>
					<li class="breadcrumb-item"><a href="#">{{ character.name }}</a></li>
				</ol>
			</nav>


			<h1>{{ character.name }}</h1>
			<h2>{{ character.kind }}</h2>

			<div class="row margin-after">
				<div class="col-md-4">
					{% if character.photo_main %}
						{% thumbnail character.photo_main "512x512" crop="center" as im %}
							<img src="{{ im.url }}" class="img-fluid" alt="{{ character.name }}">
						{% endthumbnail %}
					{% endif %}
				</div>
				<div class="col-md-8">
					<div class="row">
						<div class="col-6">Name:</div>
						<div class="col-6">{{ character.name}}</div>
					</div>
					<div class="row">
						<div class="col-6">Kind</div>
						<div class="col-6">{{ character.kind}}</div>
					</div>
					<div class="row">
						<div class="col-6">Description</div>
						<div class="col-6">{{ character.description}}</div>
					</div>

					<div class="row margin-after">
						<div class="col-6">Appears in</div>
						<div class="col-6">
							{% for universe in universes %}
								<a href="{% url 'universe' universe.id %} " class="badge badge-pill badge-primary">
									{{ universe.name }}
								</a>
							{% endfor %}
						</div>
					</div>

					{% if allowed_lists %}
						<div class="row">
							<div class="col-12">
								<form action="{% url 'add-to-universe' character.id %}" method="POST">
									{% csrf_token %}
									<div class="input-group">
										<select class="custom-select" name="list" id="list" aria-label="Lists allowed to add this character to.">
											<option value="" selected>Choose...</option>
											{% for list in allowed_lists %}
												<option value={{ list.id }}>{{ list.name }}</option>
											{% endfor %}
										</select>
										<div class="input-group-append">
											<button class="btn btn-outline-secondary" type="submit">Add</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					{% endif %}
				</div>
			</div>

		{% if user == character.creator %}
			<div class="row">
				<div class="col-md-12">

					<a href="{% url 'edit-character' character.id %}" class="btn btn-primary">Edit character</a>
				</div>
			</div>
		{% endif %}

		</div>

	</section>

{% endblock %}