{% extends 'base.html' %}

{% block content %}
	<section id="characters">
		{% include 'partials/_alerts.html' %}

		<div class="container">
			<h1>Create a new Character</h1>
			<p>Fill out some basic information about your character.</p>
			<form action="{% url 'create-character' %}" method="POST" enctype="multipart/form-data">

			{% csrf_token %}
			<div class="form-group">
				<label for="username">Name</label>
				<input type="text" name="name" class="form-control" required>
			</div>

			<div class="form-group">
				<label for="kind">Kind</label>
				<input type="text" name="kind" class="form-control" required>
			</div>

			<div class="form-group">
				<label for="description">Description</label>
				<input type="text" name="description" class="form-control" required>
			</div>

			<div class="form-group">
				<label for="photo-main" class="btn btn-outline-primary">Browse image
					<input type="file" id="photo-main" name="photo_main" style='display: none;' accept="image/*">
				</label>
			</div>

			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary">
			</div>

			</form>
		</div>
	</section>
{% endblock %}