{% extends 'base.html' %}

{% block content %}
	<section id="characters">
		{% include 'partials/_alerts.html' %}

		<div class="container">
			<h1>Edit</h1>
			<p>Update information of {{ character.name }} the {{ character.kind }}</p>
			<form action="{% url 'edit-character' character.id %}" method="POST" enctype="multipart/form-data">

			{% csrf_token %}
			<div class="form-group">
				<label for="username">Name</label>
				<input type="text" name="name" class="form-control" value="{{ character.name }}" required>
			</div>

			<div class="form-group">
				<label for="kind">Kind</label>
				<input type="text" name="kind" class="form-control" value="{{ character.kind }}" required>
			</div>

			<div class="form-group">
				<label for="description">Description</label>
				<input type="text" name="description" class="form-control" value="{{ character.description }}" required>
			</div>

			<div class="form-group">
				<label for="photo_main">Image</label>
				{% if character.photo_main %}
					<img src="{{ character.photo_main.url|default_if_none:'#' }}" />
				{% endif %}

				<input type="file" name="photo_main" accept="image/*" value="{{ photo_main.url }}">
			</div>

			<div class="form-group">
				<input type="submit" value="Update">
			</div>

			</form>
		</div>
	</section>
{% endblock %}