{% extends 'base.html' %}

{% load thumbnail %}

{% block content %}
	<section id="character">
	<div class="container">
	<h1>{{ page_title }}</h1>
		{% if user.is_authenticated %}

			<div class="btn-toolbar justify-content-between margin-after" role="toolbar" aria-label="Toolbar">
				<div class="btn-group" role="group" aria-label="First group">
					<a href="{% url 'create-character' %}" alt="Add" class="btn btn-primary fa-pull-right">Create</a>
				</div>

				<div class="input-group">
					<div class="input-group-prepend">
						<div class="input-group-text" id="btnGroupAddon2"><i class="fa fa-search"></i></div>
					</div>
					<input type="text" class="form-control" placeholder="Input group example" aria-label="Input group example" aria-describedby="btnGroupAddon2">
				</div>
			</div>


		{% endif %}

		{% include 'partials/_alerts.html' %}

		{% if characters %}
			<div class="row">
			{% for character in characters %}
				{% include 'partials/_character-card.html' %}
			{% endfor %}
			</div>
		{% else %}
			<p>You don't seem to have any characters yet.</p>
		{% endif %}

	</div>
	</section>
{% endblock %}